<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Codeswag
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="../../assets/icon/download.png" alt="icon"/>
      <ion-card-subtitle>Home page</ion-card-subtitle>
      <ion-card-title>First app</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      This is my first angular ionic app
    </ion-card-content>
  </ion-card>
</ion-content>
